$primary-color: #ff993e;
$secondary-color: #008000;

$background-color: #f0f0f0;

$button-primary-color: #c0392b;
$button-primary-color-active: #e74c3c;

$button-secondary-color: #874000;

$primary-font-family: Arial, Helvetica, sans-serif;
